body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #1A7000;
    color: rgb(4, 245, 4);
    margin: 0;
}

header {
    background-color: #3DBF15;
    
}

.vorsklalogo{
    width: 75px;
}
.end{
    display: flex;
    justify-content: center; 
}
.button {
    
}

nav {

    
}

.nav-link {
    text-decoration: none;
    background-color: rgb(116, 1, 1);
    color:aliceblue;
    padding: 10px;
    margin:5px;
    border-radius: 30px;

}

.buttons{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.margp{
    margin: 10px;
}
.photo {
    display: flex;
    justify-content: center;
}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}
